include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include SECURITY.md
include requirements.txt
include pytest.ini
recursive-include config *.json
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude logs *
recursive-exclude venv *

